pydantic
pyright
pydglab-ws
qrcode
python-osc
colorlog
pillow
ruamel.yaml
psutil
PySide6
qasync
websockets
requests
types-requests
aiohttp
watchdog
pyinstaller
reactivex
bleak
bleak-winrt
packaging
torch
matplotlib
ipykernel
